.display_screen {
  background-color: #242424;
  width: 40rem;
  height: 35rem;
  box-shadow: 0 0 2rem #330100;
  border: 0.1rem solid #000000;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  &__name {
    width: 60%;
    height: 5rem;
    text-transform: capitalize;
    display: none;
  }

  &__type {
    height: 4rem;
    width: 100%;
    position: absolute;
    top: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & > * {
      height: 100%;
      width: 12.5rem;
      background-color: white;
      border-radius: 100px;
      border: 0.1rem solid #000000;
      position: relative;
      z-index: 200;
      font-size: 2.4rem !important;
      line-height: 3.8rem;
      text-transform: uppercase;
      visibility: hidden;
    }

    & > *::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 92%;
      width: 11.9rem;
      border-radius: 100px;
      border: 0.1rem solid #000000;
      z-index: -1;
    }

    &-0 {
      left: 2rem;
    }
    &-1 {
      right: 2rem;
    }
  }

  &__image {
    width: 28rem;
    height: 28rem;
    background-size: cover;
    font-size: 4rem;
    line-height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 9;
  }
}

#pokeballLoading {
  background-color: #242424;
  position: absolute;
  top: calc(50% + 2rem);
  left: 50%;
  transform: translate(-50%, -50%) scale(1) !important;
  width: 16rem;
  height: 16rem;
  border: .5rem solid #fff;
  border-radius: 50%;
  animation: pokeballLoading 5s linear infinite;
  transition: .2s all;
  visibility: hidden;
  z-index: 8;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    border: .5rem solid #fff;
    width: .01rem;
    height: 100%;
    transform: translate(-50%, -50%);
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #fff;
    border: .5rem solid #fff;
    border-radius: 50%;
    width: 15%;
    height: 15%;
    transform: translate(-50%, -50%);
  }
}

@keyframes pokeballLoading {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes pkmnIn {
  0% {
    transform: scale(0.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes pkmnChange {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(0);
  }
  // 75% {
  //   transform: scale(1.2);
  // }
  // 100% {
  //   transform: scale(1);
  // }
}

.normal:before {
  background-color: #a8a878;
}

.fire:before {
  background-color: #f08030;
}

.fighting:before {
  background-color: #c03028;
}

.water:before {
  background-color: #6890f0;
}

.flying:before {
  background-color: #a890f0;
}

.grass:before {
  background-color: #78c850;
}

.poison:before {
  background-color: #a040a0;
}

.electric:before {
  background-color: #f8d030;
}

.ground:before {
  background-color: #e0c068;
}

.psychic:before {
  background-color: #f85888;
}

.rock:before {
  background-color: #b8a038;
}

.ice:before {
  background-color: #98d8d8;
}

.bug:before {
  background-color: #a8b820;
}

.dragon:before {
  background-color: #7038f8;
}

.ghost:before {
  background-color: #705898;
}

.dark:before {
  background-color: #705848;
}

.steel:before {
  background-color: #b8b8d0;
}

.fairy:before {
  background-color: #ee99ac;
}

.displayText {
  font-family: "VT323", monospace;
  font-size: 5rem;
  letter-spacing: 5px;
  color: #ffffff;
  text-align: center;
}
