.display_screen {
  background-color: #242424;
  width: 40rem;
  height: 35rem;
  box-shadow: 0 0 2rem #330100;
  border: 0.1rem solid #000000;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}